
        body {
            font-family: '휴먼편지체';
            background-color: aliceblue;
            color: #333333;
            margin: 0;
            padding: 20px;
        }

        h1 {
            color: brown;
            text-align: center;
        }
        h3 {
            color: blue;
            text-shadow: 2px 2px 0px lightblue;
        }
        ul {
            padding: 20px;
            border: 1px dotted;
        }
        p {
            font-family:'휴먼편지체'; 
            font-size: 1em;
            text-indent: 1em;
        }   
        a{
            text-decoration: none;
        }
        footer{
            background-color: orange;
            border-radius: 10px;
            padding: 5px;
        }